*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    position: relative;
    margin-bottom: 4rem;
    
}

body{
    background-color: #0B0D17;
    width: 100%;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition: all .2s ease-in;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100px;
}

.logo img{
    width: 400px;
    margin-left: 8rem;
}

.nav{
    filter: blur(180deg);
    background-color: #5c5c5c46;
    border-left: 5px solid #29cd29;
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px 0px 0px 8px;
}

.destaque{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.destaque img{
    width: 600px;
}

.texto{
    width: 700px;
    margin-left: 6rem;
}

.texto img{
    width: 260px;
    margin-bottom: 1rem;
}

h1{
    color: white;
    font-size: 3.5rem;
    text-transform: uppercase;
}

.preço{
    color: #29cd29;
    font-size: 6rem;
}

p{
    color: white;
    font-size: 1rem;
}

a:hover{
    color: #29cd29;
    transition: all .2s ease-in;
}

span{
    color: white;
    font-size: 3rem;
}



.p2{
    text-decoration: line-through;
    color: rgb(235, 67, 67);
}

.p3{
    font-size: 1.5rem;
}


.btn{
    width: 500px;
    height: 90px;
    border: 1px solid #fff;
    background-color: #5c5c5c46;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2REM;
    transition: all 0.5s ease-in;
}

.btn:hover{
    background-image: linear-gradient(45deg, #09ad3f, #29cd29);
    color: #fff;
    transition: 0.5s all ease-out;
    box-shadow: 0px -2px 30px #29cd29;
}

.video{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    position: relative;
    background-color: #0B0D17;
    position: relative;
}

.videos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 700px;
}

.vidfront{
    max-width: 400px;
    border-radius: 10px;
    position: absolute;
    z-index: 3;
    top: 85px;
}

.vidback{
    max-width: 450px;
    z-index: 1;
    top: 55px;
    right: 1040px;
    border-radius: 10px;
    filter: blur(30px);
}

h3{
    margin-top: .5rem;
    color: white;
}

.video p{
    margin-bottom: 4rem;
}

.txt_video{
    height: 550px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.txt1{
    max-width: 700px;
    border-left: 5px solid #29cd29;
    border-right: 5px solid #29cd29;
    background-color: #5c5c5c46;
    height: 145px;
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all .5s ease-in;
}

.txt1:hover{
    transition: all .5s ease-out ;
    max-width: 720px;
    box-shadow: 0px -2px 30px #29cd29;
}

.info{
    display: flex;
    justify-content: space-around;
    background-color: #0B0D17;
}

.info img{
    width: 600px;
}

.txt2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 55%;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    border-left: 5px solid #29cd29;
    border-right: 5px solid #29cd29;
    background-color: #5c5c5c46;
}

.fones_soltos{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.icone{
    display: flex;
    align-items: center;
}

i{
    font-size: 1.2rem;
    color: #fff;
    margin-left: 1rem;
}
.info2 img{
    width: 600px;
}

.info2{
    display: flex;
}

.case{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt3{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fa-bolt{
    color: #29cd29;
}
.fa-bolt:hover{
    color: #29cd29;
    box-shadow: 0px -2px 30px #29cd29;
}
.txt3 p{
    max-width: 700px;
    min-width: 700px;
    border-left: 5px solid #29cd29;
    border-right: 5px solid #29cd29;
    background-color: #5c5c5c46;
    height: 60px;
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all .5s ease-in;
}

.conteudo{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.perguntas{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ask{
    width: 50%;
    margin-top: 2rem;
}

.accordion-flush{
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   height: 300px;
}

.accordion-header{
border-radius: 10px;
}